:host {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;

  //   &::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  //     color: white;
  //   }
  &::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red;
  }
  &::ng-deep .mat-form-field-label {
    color: white;
  }
  &::ng-deep .mat-form-field-underline {
    background-color: white !important;
  }
  &::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: white;
  }

  &::ng-deep .mat-select-arrow {
    color: white;
  }
  &::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: grey;
  }

  &::ng-deep .mat-radio-outer-circle {
    border-color: grey;
  }

  &::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: gray;
  }

  &::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white;
  }
  &::ng-deep .mat-select-value {
    color: white !important;
  }
}

.formContainer {
  padding: 5%;
}

mat-form-field {
  width: 100%;
  padding: 2% 0;
  ::placeholder {
    color: red;
  }
}

.mat-focused .mat-form-field-label {
  color: white !important;
  font-size: 20px;
}

mat-radio-group {
  width: 100%;
  padding: 5% 0;

  mat-radio-button {
    padding: 5%;
  }
}

button {
  color: #fff !important;
  background-color: #f50057 !important;
  &:disabled {
    background-color: #e38b8b !important;
    color: black !important;
  }
}

.button-row {
  padding-top: 20px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  :host {
    width: 88%;
  }
}
