<h2>{{"Your New Salary after tax will be : " + (salary ? "SEK " + salary : 'Not available')}}</h2>

<div class="chartContainer">
    <div id="chart">

    </div>
</div>
<div class="salaryDetails">
    <mat-card class="cardContainer">
        <span>
            <strong> Total Salary </strong>
        </span>
        <span>
            30000 KR
        </span>
    </mat-card>
    <mat-card class="cardContainer"><span>
        <strong> Payroll Tax </strong>
    </span>
    <span>
        - 10000 KR
    </span></mat-card>
    <mat-card class="cardContainer"><span>
        <strong>Net Salary</strong>
    </span>
    <span>
         = 20000 KR
    </span></mat-card>
</div>

