:host {
  padding: 20px;
  width: 50%;
}

@media only screen and (max-width: 767px) {
  :host {
    width: 88%;
  }
}
.chartContainer {
  display: flex;
  justify-content: center;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 1em auto;
}

#chart {
  height: 70%;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #chart {
    height: 240px;
    width: 300px;
  }
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  //   max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.cardContainer {
  margin: 5px;
  color: white;
  box-shadow: 0px 5px 10px 7px rgb(0 0 0 / 20%),
    0px 4px 4px 2px rgb(0 0 0 / 14%), 0px 4px 6px 3px rgb(0 0 0 / 12%);
  background-color: rgb(0 0 0 / 4%);
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.orange {
  border-left: 10px solid orange;
}

.green {
  border-left: 10px solid green;
}
