body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--super-black);
  color: var(--very-white);
  width: 100%;
  height: 100%;
}

* {
  font-family: "Comic Sans MS", serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

:root {
  --super-black: #393d44;
  --very-white: white;
  --theme-color: #f50057;
}
